<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.samyak">

    <application
        android:allowBackup="true"
        android:icon="@drawable/turingf"
        android:label="@string/app_name"
        android:roundIcon="@drawable/turingf"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AdminLogoutActivity"></activity>
        <activity android:name=".AdminLoginActivity" />
        <activity android:name=".NotifAdminActivity" />
        <activity android:name=".AssignRoleActivity" />
        <activity android:name=".select_dialog_item" />
        <activity android:name=".AssignTaskActivity" />
        <activity
            android:name=".AdminActivity"
            android:label="@string/title_activity_admin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".HomeActivity" />
        <activity
            android:name=".NavigationActivity"
            android:label="@string/title_activity_navigation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".ListActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>